:root {
	--primary-color: #292929;
	--secondary-color: #23146E;
	--tertiary-color: #5E8234;
}

body {
	background-color: var(--primary-color);
	padding: 0;
	margin: 0;
}

.buttons-grid {
	position: relative;
	text-align: center;
	padding: 5px;
	min-width: 920px;
	margin: 0 auto;
	vertical-align: middle;
}

.buttons-row {
	margin: 2px;
	font-size: 0;
}

.soundboard-button {
	font-size: initial;
	vertical-align: middle;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 2px;
	background-color: cyan;
}

.navbar-container {
	z-index: 10;
	height: 95px;
	background-color: var(--secondary-color);
	margin-bottom: 20px;
	position: sticky;
	top: 0;
	left: 0;
	border: 5px solid black;
	text-align: center;
	vertical-align: middle;
	font-size: 0;
}

.navbar-row {
	position: relative;
}

.navbar-item {
	margin: 10px 2px;
	position: relative;
	width: 75px;
	height: 75px;
	display: inline-block;
	font-size: initial;
	border-radius: 50%;
	background-color: var(--tertiary-color);
	color: black;
	transform: translate(0%, 0%);
}

.navbar-item-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.prewrap {
	white-space: pre-wrap; /*Fixes bad wraping in the "Request a button" element.*/
}