:root {
	--primary-color: #292929;
	--secondary-color: #23146E;
	--tertiary-color: #5E8234;
}

body {
	background-color: var(--primary-color);
	padding: 0;
	margin: 0;
}

.test-border1 {
	border: 3px solid red;
}

.test-border2 {
	border: 3px solid yellow;
}

.test-border3 {
	border: 3px solid green;
}

.buttons-grid {
	position: relative;
	text-align: center;
	padding: 5px;
	min-width: 920px;
	max-width: 920px;
	margin: 0 auto;
	vertical-align: middle;
}

.buttons-row {
	margin: 2px;
	font-size: 0;
}

.soundboard-button {
	font-size: initial;
	vertical-align: middle;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0px;
	background-color: cyan;
}

.navbar-container {
	z-index: 10;
	height: 95px;
	background-color: var(--secondary-color);
	margin-bottom: 20px;
	position: sticky;
	top: 0;
	left: 0;
	border: 5px solid black;
}

.navbar-row {
	font-size: 0;
	text-align: center;
	position: relative;
}

.navbar-item {
	position: relative;
	font-size: initial;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: 5px solid purple;
	padding: 3px;
	margin: 3px;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	background-color: var(--tertiary-color);
	color: black;
}

.navbar-item-text {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}