:root {
	--white: #FFF;
	--dark-purple: #710EBC;
	--purple: #A938FF;
}

body {
	background: repeating-linear-gradient(
		-45deg,
		hsl(51, 99%, 60%) 0px,
		hsl(51, 99%, 60%) 1px,
		hsl(53, 100%, 60%) 1px,
		hsl(53, 100%, 60%) 4px
		);
}

div[class*="-border1"], 
div[class*="-circle"],
div.circle-container3 {
	border-radius: 50%;
}

div[class*="purple-circle"] {
	background: var(--purple);				
}

div[class*="circle-container"] {
	display: inline-block;
	margin-left: 45px;
}

.content-splitter {
	margin: 70px 0px;
}

.white-right-arrow-shape {
	background: url("right-arrow-white.PNG") center / contain no-repeat; 
	padding: 25px;
}

.white-border1 {
	background-color: var(--white);
	padding: 13.5px;
}

.dark-purple-border1{
	background-color: var(--dark-purple);
	padding: 10px;
}

.purple-circle1 {
	display: inline-block;
	padding: 30px;
}

/* ------------------- Second circle ----------------- */
.purple-circle2 {
	display: inline-block;
	padding: 30px;
	box-shadow: 0 0 0 10px var(--dark-purple),
				0 0 0 23.5px var(--white);
}

/* ------------------- Third circle ----------------- */
.purple-circle3 {
	display: inline-block;
	padding: 30px;
}

.circle-container3 {
	background: transparent;
	padding: 10px;
	border: 13.5px solid var(--white);
}

/* ------------------- Buy now button ----------------- */
.buy-now {
	display: inline-block;
	border: 3px solid #FD4642;
	border-radius: 16px;
	background: transparent;
	padding: 3px;
	text-decoration: none;
	margin-left: 0px;
}

.buy-now span {
	display: inline-block;
	border-radius: 12px;
	background: #EC312E;
	padding: 8px 16px;
	color: var(--white);
	text-align: center;
	line-height: 1.5;
	font-size: 30px;
	font-family: "Futura";
}

[class*="circle-container"] {
	animation: rotating3d 2s linear infinite;
	transform-origin: 100px 0px;
}

body {
	perspective: 5000px;
}

@keyframes rotating3d {
	100% {
		transform: rotate(1turn);
	}
}

.gradient-main-wrap {
	position: relative;
	text-align: center;
	min-width: 850px;
	font-size: 0;
}

.gradient-wrappers {
	position: relative;
	display: inline-block;
}

.gradient-wrappers div[class*="gradient"] {
	margin: 10px 5px 10px 5px;
	border: 1px solid black;
	border-radius: 12px;
	width: 400px;
	height: 130px;
	font-size: initial;
	box-shadow: 
	2px 2px 2px rgba(0, 0, 0, 0.42),
	4px 4px 4px rgba(0, 0, 0, 0.42),
	8px 8px 8px rgba(0, 0, 0, 0.42)
}

.gradient-wrappers div[class*="gradient"]:hover {
	animation: hover-scale 1s linear infinite;
}

@keyframes hover-scale {
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}

.gradient-main-wrap h2 {
	text-align: center;
	font-size: 34px;
	background: linear-gradient(
		90deg,
		hsl(0, 97%, 54%) 30%,
		hsl(222, 97%, 34%) 60%,
		hsl(80, 97%, 50%) 70%
		);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


}

.gradient1 {
	background: 
		linear-gradient(
			45deg,
			hsla(216, 100%, 44%, 1),
			hsla(210, 100%, 44%, 1),
			hsla(200, 100%, 44%, 1),
			hsla(200, 100%, 60%, 1)
		);
}

.gradient2 {
	background: radial-gradient(
		circle 220px,
		hsl(106, 100%, 73%),
		hsl(106, 100%, 53%),
		hsl(106, 100%, 43%),
		hsl(106, 100%, 33%)	
	);
}

.gradient3 {
	background:
		linear-gradient(
			45deg,
			rgba(255, 0, 0, 0.611),
			rgba(0, 0, 255, 0.584)
		),
		linear-gradient(
			-45deg,
			rgba(255, 0, 0, 0.711),
			rgba(0, 0, 255, 0.684)
		),
		repeating-linear-gradient(
			75deg,
			rgba(255, 0, 0, 0.55) 0px,
			transparent 20px,
			rgba(0, 0, 0, 0.6) 40px
		),
		repeating-linear-gradient(
			-140deg,
			rgba(255, 0, 0, 0.945) 0px,
			transparent 20px,
			rgba(0, 0, 0, 1) 30px
		);
}

.gradient4 {
	background: 
		repeating-linear-gradient(
			60deg,
			hsla(310, 100%, 50%, 0.7) 0%,
			hsla(310, 100%, 50%, 0.2) 25%,
			transparent 25%,
			transparent 30%,
			hsla(130, 100%, 50%, 0.7) 30%,
			hsla(130, 100%, 50%, 0.2) 50%,
			transparent 50%,
			transparent 60%
		),
		repeating-linear-gradient(
			-60deg,
			hsla(0, 100%, 50%, 0.7) 0%,
			hsla(0, 100%, 50%, 0.7) 25%,
			hsla(240, 100%, 50%, 0.7) 25%,
			hsla(240, 100%, 50%, 0.7) 50%,
			hsla(78, 100%, 50%, 0.7) 50%,
			hsla(78, 100%, 50%, 0.7) 50%
		),
		repeating-linear-gradient(
			140deg,
			hsla(180, 100%, 50%, 0.6) 0%,
			hsla(180, 100%, 50%, 0.6) 25%,
			hsla(34, 100%, 50%, 0.6) 25%,
			hsla(34, 100%, 50%, 0.6) 50%,
			hsla(78, 100%, 50%, 0.6) 75%
		),
		repeating-linear-gradient(
			-140deg,
			hsla(180, 100%, 50%) 0%,
			hsla(180, 100%, 50%) 25%,
			hsla(34, 100%, 50%) 25%,
			hsla(34, 100%, 50%) 50%,
			hsl(2, 100%, 50%) 75%
		);
}

.gradient5 {
	background: 
		repeating-linear-gradient(
			45deg,
			hsla(300, 100%, 50%, 0.7) 0%,
			hsla(300, 100%, 50%, 0.2) 25%,
			transparent 25%,
			transparent 30%,
			hsla(258, 98%, 48%, 0.7) 30%,
			hsla(258, 98%, 48%, 0.2) 50%,
			transparent 50%,
			transparent 60%
		),
		repeating-linear-gradient(
			-45deg,
			hsla(347, 100%, 50%, 0.7) 0%,
			hsla(347, 100%, 50%, 0.4) 25%,
			hsla(263, 100%, 50%, 0.7) 25%,
			hsla(263, 100%, 50%, 0.7) 50%,
			hsla(128, 96%, 45%, 0.7) 50%,
			hsla(128, 96%, 45%, 0.4) 50%
		),
		repeating-linear-gradient(
			-125deg,
			hsla(180, 100%, 50%, 0.6) 0%,
			hsla(180, 100%, 50%, 0.6) 25%,
			hsla(315, 100%, 50%, 0.6) 25%,
			hsla(315, 100%, 50%, 0.6) 50%,
			hsla(345, 100%, 50%, 0.6) 75%
		),
		repeating-linear-gradient(
			125deg,
			hsla(180, 100%, 50%) 0%,
			hsla(180, 100%, 50%) 25%,
			hsl(276, 100%, 50%) 25%,
			hsl(276, 100%, 50%) 50%,
			hsl(2, 100%, 50%) 75%
		);
}

.gradient6 {
	background:
		radial-gradient(
			circle at 20px 10px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 80px 20px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 200px 10px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 120px 100px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 110px 70px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 380px 20px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 310px 20px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 310px 70px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 220px 40px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 180px 95px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 250px 70px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			ellipse at 50% 0,
			red 0%,
			red 70%,
			green 70%,
			green 75%,
			transparent 75%
		)
	white;
}

.gradient7 {
	background:
		conic-gradient(
			from 0deg,
			white 0deg 90deg,
			black 90deg 180deg,
			blue 180deg
		);
	animation: moving-boxes 3s linear infinite;
}
	
@keyframes moving-boxes {
	33% {
		background:
			conic-gradient(
				from 0deg,
				blue 0deg 90deg,
				white 90deg 180deg,
				black 180deg
			);
	}
	66% {
		background:
			conic-gradient(
				from 0deg,
				black 0deg 90deg,
				blue 90deg 180deg,
				white 180deg
			);
	}
	99% {
		background:
			conic-gradient(
				from 0deg,
				white 0deg 90deg,
				black 90deg 180deg,
				blue 180deg
			);
	}
}

.gradient8 {
	background:
		repeating-radial-gradient(
			at left bottom,
			white 0px 40px,
			cyan 40px 46px
		);
}

.gradient9 {
	position: relative;
	background:
		radial-gradient( /* Star */
			circle at 60px 100px,
			yellow 0px 20px,
			orange 20px 23px,
			transparent 23px
		),
		radial-gradient( /* 1st planet */
			circle at 120px 117px,
			red 0px 10px,
			orange 10px 11px,
			transparent 11px
		),
		radial-gradient( /* 2nd planet */
			circle at 160px 62px,
			orange 0px 7px,
			yellow 7px 8px,
			transparent 8px
		),
		radial-gradient( /* 3rd planet */
			circle at 65px 28px,
			blue 0px 12px,
			white 12px 13px,
			transparent 13px
		),
		radial-gradient( /* 4th planet */
			circle at 383px 94px,
			cyan 0px 15px,
			purple 15px 16px,
			transparent 16px
		),
		radial-gradient( /* 5th planet */
			circle at 355px 18px,
			white 0px 5px,
			cyan 5px 6px,
			transparent 6px
		),
		repeating-radial-gradient( /* Base System */
			ellipse at 60px 100px,
			yellow 0px 6px,
			black 6px 80px
		);
}

.gradient9::before { /* Stars */
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	box-shadow: 
		145px 25px 2px 1px white,
		120px 17px 2px 2px white,
		75px 32px 2px 0px white,
		60px 50px 0px 1px white,
		50px 18px 2px 1px white,
		48px 37px 4px 3px white,
		96px 7px 2px 0px white,
		12px 2px 2px 0px white,
		20px 125px 2px 0px white,
		200px 80px 0px 0px white,
		180px 62px 0px 0px white,
		350px 28px 0px 0px white,
		320px 64px 0px 0px white,
		40px 52px 0px 0px white,
		110px 70px 0px 0px white,
		125px 86px 0px 0px white,
		75px 120px 0px 0px white,
		158px 96px 1px 2px white,
		167px 32px 0px 0px white,
		214px 29px 0px 0px white,
		320px 110px 2px 2px white,
		380px 82px 0px 0px white,
		390px 18px 1px 1px white,
		280px 6px 0px 0px white,
		290px 120px 0px 0px white,
		250px 125px 0px 0px white,
		270px 96px 0px 0px white;
	animation: stars-anim 1s linear infinite;
}

/* seems to consume too many resources */
/* @keyframes stars-anim {
	50% {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 2px;
		height: 2px;
		border-radius: 50%;
		box-shadow: 
			145px 25px 2px 1.5px white,
			120px 17px 2px 2.5px white,
			75px 32px 2px 0.5px white,
			60px 50px 0px 1.5px white,
			50px 18px 2px 1.5px white,
			48px 37px 2px 3.5px white,
			96px 7px 2px 0.5px white,
			12px 2px 2px 0.5px white,
			20px 125px 2px 0.5px white,
			200px 80px 0px 0.5px white,
			180px 62px 0px 0.5px white,
			350px 28px 0px 0.5px white,
			320px 64px 0px 0.5px white,
			40px 52px 0px 0.5px white,
			110px 70px 0px 0.5px white,
			125px 86px 0px 0.5px white,
			75px 120px 0px 0.5px white,
			158px 96px 1px 2.5px white,
			167px 32px 0px 0.5px white,
			214px 29px 0px 0.5px white,
			320px 110px 2px 2.5px white,
			380px 82px 0px 0.5px white,
			390px 18px 1px 1.5px white,
			280px 6px 0px 0.5px white,
			290px 120px 0px 0.5px white,
			250px 125px 0px 0.5px white,
			270px 96px 0px 0.5px white;
	}
} */

.vertical-text {
	transform: rotate(-90deg);
}

div p.vertical-text { /* Melon */
	font-size: 24px;
	position: absolute;
	left: -45px;
	top: 45px;

}

.rel-pos {
	position: relative;
}

.melon {
	position: absolute;
	top: 5px;
	left: 65px;
	display: inline-block;
	width: 40px;
	height: 20px;
	font-size: initial;
	background:
		radial-gradient(
			circle at 20px 10px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 80px 20px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 200px 10px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 120px 100px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 110px 70px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 380px 20px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 310px 20px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 310px 70px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 220px 40px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 180px 95px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			circle at 250px 70px,
			black 2px,
			transparent 2px
		),
		radial-gradient(
			ellipse at 50% 0,
			red 0%,
			red 55%,
			green 55%,
			green 70%,
			transparent 70%
		);
}

.gradient10 {
	background:
		linear-gradient(
			hsla(215, 100%, 50%, 0.6),
			hsla(215, 50%, 20%, 0.6)
		),
		repeating-linear-gradient(
			0deg,
			hsla(184, 100%, 74%, 0.61) 20% 35%,
			transparent 35% 60%
		),
		linear-gradient(
			105deg,
			hsl(224, 100%, 61%) 0% 50%,
			hsl(224, 50%, 61%) 50% 100%
		);
}

.gradient11 {
	background:
		radial-gradient(
			circle at 130px 80px,
			hsla(14, 100%, 50%, 0.6) 0px 30px,
			transparent 100px 200px,
			hsla(190, 100%, 50%, 0.8) 300px 500px
		),
		repeating-linear-gradient(
			45deg,
			hsla(355, 100%, 50%, 0.704) 0px 100px,
			transparent 200px 300px,
			hsla(310, 100%, 50%, 0.704) 500px
		),
		repeating-linear-gradient(
			-45deg,
			hsla(286, 100%, 50%, 0.704) 0 100px,
			transparent 200px 300px,
			hsla(286, 100%, 50%, 0.704) 500px
		),
		linear-gradient(
			120deg,
			hsla(340, 100%, 50%, 0.711),
			hsla(258, 100%, 50%, 0.711)
		)
}

.gradient12 {
	background:
		linear-gradient(
			45deg,
			hsla(39, 100%, 50%, 0.588),
			hsla(152, 100%, 50%, 0.711)
		),
		linear-gradient(
			-45deg,
			hsla(0, 100%, 50%, 0.588),
			hsla(240, 100%, 50%, 0.711)
		),
		repeating-linear-gradient(
			120deg,
			hsla(30, 100%, 50%, 0.788) 0px,
			transparent 20px,
			hsla(0, 100%, 50%, 0.811) 40px
		),	
		repeating-linear-gradient(
			-120deg,
			hsla(150, 100%, 50%, 0.588) 0px,
			transparent 20px,
			hsla(0, 100%, 0%, 0.811) 40px
			),
		repeating-linear-gradient(
			-60deg,
			hsla(184, 100%, 50%, 0.588) 0px,
			hsla(266, 100%, 50%, 0.611) 30px,
			hsla(313, 100%, 50%, 0.611) 60px
		),	
		repeating-linear-gradient(
			60deg,
			hsla(192, 100%, 50%, 0.888) 0px,
			hsla(278, 100%, 50%, 0.911) 30px,
			hsla(0, 100%, 50%, 0.911) 60px
		);	
}

.gradient13 {
	background:
		repeating-linear-gradient(
			0deg,
			hsla(0, 100%, 25%, 0.2) 0px 20px,
			transparent 20px 50px,
			hsla(24, 100%, 50%, 0.2) 50px 80px
		),
		repeating-linear-gradient(
			180deg,
			hsla(249, 100%, 25%, 0.2) 0px 20px,
			transparent 20px 50px,
			hsla(24, 100%, 50%, 0.2) 50px 80px
		),
		linear-gradient(
			-90deg,
			hsla(300, 100%, 25%, 1),
			hsla(39, 100%, 50%, 1) 
		);
}