:root {
	--white: #FFF;
	--dark-purple: #710EBC;
	--purple: #A938FF;
}

body {
	background: repeating-linear-gradient(
		-45deg,
		hsl(51, 99%, 60%) 0px,
		hsl(51, 99%, 60%) 1px,
		hsl(53, 100%, 60%) 1px,
		hsl(53, 100%, 60%) 4px
		);
}

div[class*="-border1"], 
div[class*="-circle"],
div.circle-container3 {
	border-radius: 50%;
}

div[class*="purple-circle"] {
	background: var(--purple);				
}

div[class*="circle-container"] {
	display: inline-block;
	margin-left: 45px;
}

.content-splitter {
	margin: 70px 0px;
}

.white-right-arrow-shape {
	background: url("right-arrow-white.PNG") center / contain no-repeat; 
	padding: 25px;
}

.white-border1 {
	background-color: var(--white);
	padding: 13.5px;
}

.dark-purple-border1{
	background-color: var(--dark-purple);
	padding: 10px;
}

.purple-circle1 {
	display: inline-block;
	padding: 30px;
}

/* ------------------- Second circle ----------------- */
.purple-circle2 {
	display: inline-block;
	padding: 30px;
	box-shadow: 0 0 0 10px var(--dark-purple),
				0 0 0 23.5px var(--white);
}

/* ------------------- Third circle ----------------- */
.purple-circle3 {
	display: inline-block;
	padding: 30px;
}

.circle-container3 {
	background: transparent;
	padding: 10px;
	border: 13.5px solid var(--white);
}

/* ------------------- Buy now button ----------------- */
.buy-now {
	display: inline-block;
	border: 3px solid #FD4642;
	border-radius: 16px;
	background: transparent;
	padding: 3px;
	text-decoration: none;
	margin-left: 0px;
}

.buy-now span {
	display: inline-block;
	border-radius: 12px;
	background: #EC312E;
	padding: 8px 16px;
	color: var(--white);
	text-align: center;
	line-height: 1.5;
	font-size: 30px;
	font-family: "Futura";
}

/* a.scale-up:hover,
[class*="circle-container"]:hover {
	animation: rotating3d 3s linear infinite;
	transform-origin: 100px 0px;
} */
[class*="circle-container"] {
	animation: rotating3d 2s linear infinite;
	transform-origin: 100px 0px;
}

body {
	perspective: 5000px;
}

@keyframes rotating3d {
	100% {
		transform: rotate(1turn);
	}
}

.gradient-main-wrap {
	position: relative;
	text-align: center;
	min-width: 850px;
	font-size: 0;
}

.gradient-wrappers {
	position: relative;
	display: inline-block;
}

.gradient-wrappers div[class*="gradient"] {
	margin: 10px 5px 10px 5px;
	border: 1px solid black;
	border-radius: 12px;
	width: 400px;
	height: 130px;
	font-size: initial;
	box-shadow: 
	2px 2px 2px rgba(0, 0, 0, 0.42),
	4px 4px 4px rgba(0, 0, 0, 0.42),
	8px 8px 8px rgba(0, 0, 0, 0.42)
}

.gradient-wrappers div[class*="gradient"]:hover {
	animation: hover-scale 1s linear infinite;
}

@keyframes hover-scale {
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}

.gradient-main-wrap h2 {
	text-align: center;
	font-size: 34px;
	background: linear-gradient(
		90deg,
		hsl(0, 97%, 54%) 30%,
		hsl(222, 97%, 34%) 60%,
		hsl(80, 97%, 50%) 70%
		);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


}

.gradient1 {
	background: 
		linear-gradient(
			45deg,
			hsla(216, 100%, 44%, 1),
			hsla(210, 100%, 44%, 1),
			hsla(200, 100%, 44%, 1),
			hsla(200, 100%, 60%, 1)
		);
}

.gradient2 {
	background: radial-gradient(
		circle 220px,
		hsl(106, 100%, 73%),
		hsl(106, 100%, 53%),
		hsl(106, 100%, 43%),
		hsl(106, 100%, 33%)	
	);
}

.gradient3 {
	background:
		linear-gradient(
			45deg,
			rgba(255, 0, 0, 0.611),
			rgba(0, 0, 255, 0.584)
		),
		linear-gradient(
			-45deg,
			rgba(255, 0, 0, 0.711),
			rgba(0, 0, 255, 0.684)
		),
		repeating-linear-gradient(
			75deg,
			rgba(255, 0, 0, 0.55) 0px,
			transparent 20px,
			rgba(0, 0, 0, 0.6) 40px
		),
		repeating-linear-gradient(
			-140deg,
			rgba(255, 0, 0, 0.945) 0px,
			transparent 20px,
			rgba(0, 0, 0, 1) 30px
		);
}

.gradient4 {
	background: 
		repeating-linear-gradient(
			60deg,
			hsla(310, 100%, 50%, 0.7) 0%,
			hsla(310, 100%, 50%, 0.2) 25%,
			transparent 25%,
			transparent 30%,
			hsla(130, 100%, 50%, 0.7) 30%,
			hsla(130, 100%, 50%, 0.2) 50%,
			transparent 50%,
			transparent 60%
		),
		repeating-linear-gradient(
			-60deg,
			hsla(0, 100%, 50%, 0.7) 0%,
			hsla(0, 100%, 50%, 0.7) 25%,
			hsla(240, 100%, 50%, 0.7) 25%,
			hsla(240, 100%, 50%, 0.7) 50%,
			hsla(78, 100%, 50%, 0.7) 50%,
			hsla(78, 100%, 50%, 0.7) 50%
		),
		repeating-linear-gradient(
			140deg,
			hsla(180, 100%, 50%, 0.6) 0%,
			hsla(180, 100%, 50%, 0.6) 25%,
			hsla(34, 100%, 50%, 0.6) 25%,
			hsla(34, 100%, 50%, 0.6) 50%,
			hsla(78, 100%, 50%, 0.6) 75%
		),
		repeating-linear-gradient(
			-140deg,
			hsla(180, 100%, 50%) 0%,
			hsla(180, 100%, 50%) 25%,
			hsla(34, 100%, 50%) 25%,
			hsla(34, 100%, 50%) 50%,
			hsl(2, 100%, 50%) 75%
		);
}

.gradient5 {
	background: 
		repeating-linear-gradient(
			45deg,
			hsla(300, 100%, 50%, 0.7) 0%,
			hsla(300, 100%, 50%, 0.2) 25%,
			transparent 25%,
			transparent 30%,
			hsla(258, 98%, 48%, 0.7) 30%,
			hsla(258, 98%, 48%, 0.2) 50%,
			transparent 50%,
			transparent 60%
		),
		repeating-linear-gradient(
			-45deg,
			hsla(347, 100%, 50%, 0.7) 0%,
			hsla(347, 100%, 50%, 0.4) 25%,
			hsla(263, 100%, 50%, 0.7) 25%,
			hsla(263, 100%, 50%, 0.7) 50%,
			hsla(128, 96%, 45%, 0.7) 50%,
			hsla(128, 96%, 45%, 0.4) 50%
		),
		repeating-linear-gradient(
			-125deg,
			hsla(180, 100%, 50%, 0.6) 0%,
			hsla(180, 100%, 50%, 0.6) 25%,
			hsla(315, 100%, 50%, 0.6) 25%,
			hsla(315, 100%, 50%, 0.6) 50%,
			hsla(345, 100%, 50%, 0.6) 75%
		),
		repeating-linear-gradient(
			125deg,
			hsla(180, 100%, 50%) 0%,
			hsla(180, 100%, 50%) 25%,
			hsl(276, 100%, 50%) 25%,
			hsl(276, 100%, 50%) 50%,
			hsl(2, 100%, 50%) 75%
		);
}
