* {
    box-sizing: border-box;
}

:root {
    --color1: hsl(197, 100%, 70%);
    --color2: hsl(197, 100%, 20%);
    --anim-dur: 3s;
}

body {
    padding: 0;
    margin: 0;
}

.main-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
}

.ball {
    position: relative;
    top: 25vmin;
    margin: 0vmin auto;
    background:
        radial-gradient(
            circle at center,
            transparent 0% 70%,
            black 100%
        ),
        radial-gradient(
            circle at center,
            var(--color1) 0%,
            var(--color2) 100%
        );
        /* linear-gradient(
            -25deg,
            var(--color1),
            var(--color2)
        ); */
    border-radius: 50%;
    width: 20vmin;
    height: 20vmin;
    animation: bouncing var(--anim-dur) ease-out infinite;
}

@keyframes bouncing {
    0% {
        top: 25vmin;

    }
    50% {
        top: 50vmin;
    }
    100% {
        top: 25vmin;
    }
}

.ball-shadow {
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    top: 71vmin;
    width: 20.0vmin;
    height: 2.0vmin;
    background-color: hsla(0, 0%, 0%, 0.185);
    box-shadow: 
        0vmin 0vmin 1vmin hsla(0, 0%, 0%, 0.185),
        0vmin 0vmin 2vmin hsla(0, 0%, 0%, 0.185),
        0vmin 0vmin 4vmin hsla(0, 0%, 0%, 0.185),
        0vmin 0vmin 16vmin hsla(0, 0%, 0%, 0.185);
    animation: shadow var(--anim-dur) ease-out infinite
}

@keyframes shadow {
    0% {
        width: 2.0vmin;
    }
    50% {
        width: 20.0vmin;
    }
    100% {
        width: 2.0vmin;
    }
}