* {
    box-sizing: border-box;
}

:root {
    --color1: hsl(197, 100%, 70%);
    --color2: hsl(197, 100%, 20%);
    --anim-dur: 0.7s;
}

body {
    padding: 0;
    margin: 0;
}

.main-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
}

.ball {
    position: relative;
    top: 25vmin;
    margin: 0vmin auto;
    background:
        radial-gradient(
            circle at center,
            transparent 0% 90%,
            black 100%
        ),
        radial-gradient(
            circle at center,
            var(--color1) 0%,
            var(--color2) 100%
        );
    border-radius: 50%;
    width: 20vmin;
    height: 20vmin;
    animation: bouncing var(--anim-dur) ease-in-out infinite;
}

@keyframes bouncing {
    0% {
        top: 25vmin;
    }
    25% {
        width: 20vmin;
        height: 20vmin;
    }
    40% {
        top: 56vmin;
        width: calc(20vmin * 1.5);
        height: calc(20vmin * 0.7);
    }
    75% {
        width: calc(20vmin * 0.5);
        height: calc(20vmin * 1.2);
    }
    100% {
        top: 25vmin;
    }
}

.ball-shadow {
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    top: 71vmin;
    width: 12.0vmin;
    height: 2.0vmin;
    background-color: hsla(0, 0%, 0%, 0.10);
    box-shadow: 
        0vmin 0vmin 1vmin hsla(0, 0%, 0%, 0.10),
        0vmin 0vmin 2vmin hsla(0, 0%, 0%, 0.10),
        0vmin 0vmin 4vmin hsla(0, 0%, 0%, 0.10),
        0vmin 0vmin 16vmin hsla(0, 0%, 0%, 0.10);
    animation: shadow var(--anim-dur) ease-in-out infinite
}

@keyframes shadow {
    0% {
        width: 12vmin;
        height: 2.0vmin;
    }
    40% {
        width: calc(20.0vmin * 1.3);
        height: calc(2.0vmin * 0.7);
    }
    75% {
        width: calc(12.0vmin * 0.5);
        height: calc(2.0vmin * 1.2);
    }
    100% {
        width: 12.0vmin;
        height: 2.0vmin;
    }
}